@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

@font-face {
  font-family: "Europa-Regular";
  src: url("./fonts/Europa-Regular.otf");
}

:root {
  --main-font: var(--ori-font);
  --ori-font: "Inconsolata", monospace;
  --alt-font: "IM Fell English", serif;
}

html {
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background-color: #F3DEC4;
  font-size: 1.05rem;
  color: #242325;
  position: relative;
}

/* Parchment paper texture overlay */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
  z-index: -1;
  opacity: 0.20;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
}

/* Additional subtle grain texture */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
  z-index: -1;
  opacity: 0.20;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='grain'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)'/%3E%3C/svg%3E");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242325;
  /* color: black; */
  font-family: var(--main-font);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.2rem;
}

.test {
  /* background-color: #ffd4d4;
    padding: 10px;
    display: inline-block; */
  text-shadow: 4px 3px #ffd4d4;
}

h1 {
  margin-bottom: 20px;
}

a,
a:visited {
  color: #242325;
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited:hover,
a:visited:focus,
a:visited:active {
  color: #242325;
  text-decoration: none;
}

#header {
  font-family: var(--main-font);
  font-size: 17px;

  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  /* background-color: rgba(255, 212, 212, 0.9); */
  background-color: rgba(150, 112, 91, 0.9);
  z-index: 999;
}

#header:empty {
  height: 20px;
}

#header nav {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  /* background-color: white; */
}
#header nav .navbar-brand {
  font-weight: 900;
}
#header nav a {
  color: #242325;
}
#header nav a:hover {
  background-color: rgba(36, 35, 37, 0.1);
}
#header nav a.active {
  border-bottom: 3px solid #ed5151;
  font-weight: 700;
}
#header #header-img {
  /*    filter: brightness(70%);
*/
  background-image: url("../res/img/header.png");
  background-size: cover;
  height: 400px;

  position: relative;
}

#inner-img {
  height: 450px;
  position: absolute;
  left: 0;
  bottom: 0;
  filter: brightness(1.25);
}

#home-img {
  transform: translate(200px, -20px);
  /* position: float;
  left: 0;
  bottom: 0;
  filter: brightness(1.25); */
}

#copy {
  margin-top: 40px;
  /* background-color: white; */
  padding-top: 30px;
  height: 100%;
}
#course-intro-panel,
#final-project-panel,
#overview,
#grading,
#late-policy {
  padding: 20px;
  padding-right: 30px;
  padding-top: 0;
}
#staff-header {
  margin-bottom: 8px;
}
#assignments,
#resources {
  margin-bottom: 70px;
}
#assignments-table,
#final-project-table,
#labs-table,
#slides-table {
  margin-top: 40px;
  margin-bottom: 20px;
}

td {
    white-space: nowrap;
}

#home {
  margin-top: 0px;
  padding-top: 70px;
  height: 100%;
}

#sidebar {
  margin-top: -15px;
  /* border-left: 1px solid #f1f1f2; } */
}
#sidebar #overview {
  margin-top: 15px;
}
#sidebar #overview p {
  margin-bottom: 1px;
}
#course-intro-panel a {
  color: #ed5151;
}
.red {
  color: #ed5151 !important;
}

#sidebar a,
.pre-quiz a,
.python a,
.department-resources a,
.project deadline table a,
#course-documents a {
  color: #ed5151;
}
#sidebar a:hover,
#sidebar a:focus,
#sidebar a:active,
#course-intro-panel a:hover,
#course-intro-panel a:focus,
#course-intro-panel a:active,
#course-documents a:hover,
#course-documents a:focus,
#course-documents a:active,
.pre-quiz a:hover,
.python a:hover,
.department-resources a:hover,
.project deadline table a:hover,
.pre-quiz a:focus,
.python a:focus,
.department-resources a:focus,
.project deadline table a:hover,
.pre-quiz a:active,
.python a:active
.department-resources a:active,
.project deadline table a:active{
  color: black;
}

.table .out a {
  /* border-left: 5px solid #ed5151 !important; */
  border-bottom: 3px solid black !important;
  padding: 3px !important;
}

.table .unreleased {
  color: gray !important;
}

.table .out a:hover {
  /* background-color: #ed5151 !important; */
  background-color: black !important;
  color: white !important;
  border-bottom: 5px solid #fcfcfc !important;
  padding: 3px !important;
}

.pre-quiz,
.python {
  width: 75%;
  margin-bottom: 50px;
}
#python-quiz,
#stats-quiz {
  margin-left: 50px;
}
.quiz p,
.quiz a {
  margin-top: 4px;
}
p.quiz-desc {
  margin-bottom: 3px;
}

.probability,
.statistics,
.solutions,
.example,
.problem1,
.problem2,
.problem3,
.problem4,
.problem5 {
  margin-top: 80px;
}

.overview-sub {
  margin-top: 18px;
  margin-bottom: 3px;
}

.staff {
  margin-top: 1rem;
  text-align: center;
}
.staff .name {
  margin-top: 6px;
  margin-bottom: 0;
}
.staff .login {
  font-family: "Inconsolata", monospace;
}
.staff .blurb {
  font-family: "IM Fell English", serif;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 8px;
  color: #4a4a4a;
}
tt {
  font-family: "Inconsolata", monospace;
}
.staff-introduction,
.professor,
.headtas,
.utas,
.stas {
  margin-bottom: 50px;
}

#staff-description {
  margin-top: 20px;
}
#staff-description p {
  margin-bottom: 10px;
}

.profile-container {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  overflow: hidden;
}

.profile {
  z-index: 9;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.profile-formal {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.profile-hover {
  position: relative;
  opacity: 0;
}

.profile-container:hover .profile-formal {
  opacity: 0;
}

.profile-container:hover .profile-hover {
  opacity: 1;
}

#calendar {
  width: 100%;
}

#mobile-calendar {
  width: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#other-content-container {
  padding-bottom: 80px;
}

#footer {
  position: absolute;

  bottom: 0;

  padding-top: 15px;
  padding-bottom: 1px;
  background-color: #242325;

  width: 100%;

  font-size: 0.75rem;
  color: white;
  font-style: italic;
  text-align: center;
}

#error {
  padding-top: 15px;
}

/*# sourceMappingURL=main.css.map */

/* project page formatting */
#cards {
  margin: 40px auto;
  max-width: 80rem;
  padding-top: 30px;
}

.card-title,
.card-subtitle {
  overflow-wrap: break-word;
}

.card {
  margin-bottom: 25px;
}

.img-container {
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px 5px 0 0;
}

.content-container {
  padding: 15px;
  padding-top: 12px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* PIE CHART SVG */
.pie {
  margin: 20px;
}

svg {
}

.legend {
  font-family: var(--main-font);
  font-size: 1em;
  margin-top: 0px;
}

.pie text {
  font-family: var(--main-font);
  fill: #000;
}

.pie .name-text {
  font-size: 1em;
}

.pie .value-text {
  font-size: 3em;
}

/* BAR CHART SVG */
.xaxis line {
  stroke: #616161;
}
.xaxis path {
  stroke: #616161;
}

.xaxis .tick {
  font-size: 13px;
  font-family: var(--main-font);
}

.yaxis line {
  stroke: none;
}
.yaxis path {
  stroke: #616161;
}

.yaxis .tick {
  font-size: 13px;
  font-family: var(--main-font);
}

.toolTip {
  position: absolute;

  display: none;
  min-width: 30px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 8px;
  text-align: left;
}

.grid .tick line {
  stroke-dasharray: 1;
  stroke: #b5b5b5;
}

.grid path {
  stroke-width: 0;
}

.show-mobile {
  display: none;
}

@media (max-width: 600px) {
  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}

#assignments-table {
  font-size: 1.2rem;
}
#assignments-table td {
  vertical-align: middle;
}
#assignments-table th,
#slides-table th {
  background-color: #453921;
}
#assignments-table tr,
#slides-table tr {
  background-color: #f1e5d4;
}
#assignments-table tr:hover,
#slides-table tr:hover {
  background-color: #faf2e6;
}
#assignments-table tr:nth-child(2n),
#slides-table tr:nth-child(2n) {
  background-color: #e8d7bf;
}
#assignments-table tr:nth-child(2n):hover,
#slides-table tr:nth-child(2n):hover {
  background-color: #d2c1a4;
}
#assignments-table tr:last-child td:first-child,
#slides-table tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
#assignments-table tr:last-child td:last-child,
#slides-table tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
#assignments-table .assignment-img-container {
  width: 30%;
  max-width: 400px;
  max-height: 150px;
  text-align: center;
}
#assignments-table .assignment-img-container img {
  width: 100%;
  max-height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
#assignments-table #homework-1-tr img {
  object-position: center 5%;
}
#assignments-table #homework-2-tr img {
  object-position: center 16%;
}
#assignments-table #homework-4-tr img {
  object-position: center 35%;
}
#assignments-table #homework-5-tr img {
  object-position: center 40%;
}
#assignments-table #homework-6-tr img {
  object-position: 0 0;
}

.flex-container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.right-side {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}

.left-side {
  width: 66.66%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .flex-container {
    width: 960px;
    max-width: 100%;
    flex-direction: column-reverse;
    margin: 0;
  }

  .right-side {
    width: 100%;
  }

  .left-side {
    width: 100%;
  }

  #assignments-table {
    font-size: 1.0rem;
  }
}

@media (max-width: 576px) {
  .flex-container {
    width: 540px;
    max-width: 100%;
    flex-direction: column-reverse;
    margin: 0;
  }

  .right-side {
    width: 100%;
  }

  .left-side {
    width: 100%;
  }

  #assignments-table {
    font-size: 0.95rem;
  }
  #assignments-table tr td:first-child *,
  #assignments-table tr th:first-child * {
    display: none;
  }
  #assignments-table tr td:first-child,
  #assignments-table tr th:first-child {
    padding: 0;
    width: 6px;
  }
}

@media (max-width: 992px) {
  html.alt-mode #assignments-table tr td:first-child *,
  html.alt-mode #assignments-table tr th:first-child * {
    display: none;
  }
  html.alt-mode #assignments-table tr td:first-child,
  html.alt-mode #assignments-table tr th:first-child {
    padding: 0;
    width: 6px;
  }
}

img {
  dynamic-range-limit: standard;
}

/* Alt Mode Styles */
html.alt-mode * {
  cursor: url('../res/img/Shakespeare_oval.png') 0 0, auto !important;
}

.alt-mode body,
.alt-mode h1,
.alt-mode h2,
.alt-mode h3,
.alt-mode h4,
.alt-mode h5,
.alt-mode h6 {
  font-weight: 400;
}

/* 
html.alt-mode body::before,
html.alt-mode body::after {
  display: none;
}
*/

.alt-on { display: none; }
html.alt-mode .alt-on { display: revert; }
.alt-off { display: revert; }
html.alt-mode .alt-off { display: none; }
